/*************************
    GENERAL RULES
*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2rem;
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
}

section:nth-of-type(even) {
    background-color: #9792e4;
}

section img {
    width: 100%
}

/*************************
    /GENERAL RULES
*************************/

/*************************
    UTILITIES
*************************/
.container {
    width: 100%;
    padding: 0 30px;
}

.container>* {
    padding: 20px 0;
}

/** Flex **/
.flex {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {

    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/** /Flex **/
.text-center {
    text-align: center;
}

#white-button {
    background-color: #fff;
    font-size: 1.1rem;
    height: fit-content;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

.card-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.white-card {
    max-width: 100%;
    margin: 30px auto;
    border-radius: 40px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
}


/*************************
    /UTILITIES
*************************/

/*************************
        STYLE
*************************/
/** Header **/
header {
    position: fixed;
    width: 100%;
    background-color: #0084fd;
    color: #fff;
}

header>div {
    line-height: 80px;
    min-height: 80px;
}

.hidden-menu {
    font-size: 1.2rem;
}

ul,
#white-button,
.hidden-menu {
    display: none;
}

li {
    padding: 0 15px;
}

/** /Header **/

/** Main **/
main {
    padding-top: 85px;
}

.card {
    background-color: #b5ddff;
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

.card h2 {
    color: #0084fd;
}

.card-container>* {
    padding: 10px 0;
    line-height: 1.5rem;
}

#light-blue-cards p {
    color: #5b6f80;
    font-weight: 700;
}

.card-container img {
    width: 100%;
}

#blue-button {
    background-color: #0084fd;
    color: #fff;
    width: fit-content;
    border: none;
    border-radius: 20px;
    margin: 15px 0;
    padding: 10px 50px;
    font-size: 1.1rem;
}

.card-icon {
    font-size: 7.5rem;
    color: #0084fd;
}

/** 2nd section **/
.strategic-planning {
    padding-top: 30px;
    padding-bottom: 30px;
}

#strategic-planning-intro h2 {
    font-size: 2rem;
    color: #fff;
    padding: 40px 0;
}

#strategic-planning-intro p {
    color: #fff;
}

.white-card>* {
    padding: 15px 0;
}

#purple-button {
    font-size: 1.3rem;
    border: none;
    border-radius: 50%;
    background-color: #9792e4;
    height: 60px;
    width: 60px;
}

/** testimonials section **/
.testimonials h2 {
    color: #9792e4;
    font-size: 2rem;
}

.purple-card {
    max-width: 90%;
    margin: 30px auto;
    min-height: 200px;
    border-radius: 40px;
    text-align: center;
    background-color: #9792e4;
    padding-bottom: 30px;
    color: #fff;
}

.testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.purple-card p {
    padding-bottom: 25px;
}

.testimonial-name {
    font-size: 1.4rem;
    font-weight: 700;
}

.feedback::before,
.feedback::after {
    font-size: 70px;
    color: #fff;
    line-height: 0;
    vertical-align: bottom;
}

.feedback::before {
    content: open-quote;
}

.feedback::after {
    content: close-quote;
}

/** /testimonials section **/
/** /Main **/

/*************************
        /STYLE
*************************/

/*************************
        Responsive
*************************/
@media screen and (min-width: 768px) {
    #light-blue-cards .card {
        width: calc(100% / 3 - 20px);
        margin: 10px 10px;
    }

    #light-blue-cards .card:first-child {
        width: calc(100% / 3 * 2 - 20px);
    }


}

@media screen and (min-width: 1200px) {

    /** Header **/
    .container {
        max-width: 60%;
        margin: 0 auto;
    }

    .fa-bars {
        display: none;
    }

    .hidden-menu,
    ul,
    #white-button {
        display: flex;
    }

    /** Header **/
    .col {
        flex-direction: row;
        justify-content: space-between;
    }

    /** strategic planning section **/
    .strategic-planning {
        display: flex;
        justify-content: space-between;

    }

    #strategic-planning-intro {
        width: 50%;
    }

    #strategic-planning-card {
        width: 40%;

    }

}





/*************************
        /Responsive
*************************/



/****************************************
    DEBUG
*****************************************/

section {

    margin: 20px 0;
}